body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f3b7b7;
  background: -webkit-radial-gradient(circle, #f3b7b7 0%, #e5b9ff 100%);
  background: radial-gradient(circle, #f3b7b7 0%, #e5b9ff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
  margin: 10px;
  padding-left: 10px;
  
  overflow: hidden;
  /* background-color: #333; */
}

h1{
  /* font-size: 2.5rem; */
  /* font-weight: 600; */
  /* color: #333; */
  /* margin: 0; */
  padding-top: 10px;
  size: 20px;
  
  /* padding-left: 30px; */
  display: flex;
  justify-content: center;
}

h2{
  size: 20px;
  /* padding-left: 30px; */
  display: flex;
  justify-content: center;
}
.progress {

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  --r1: 154%;
  --r2: 68.5%;
  width: 67.2px;
  height: 67.2px;
  border-radius: 50%;
  background: radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#000000 80%) center left,
       radial-gradient(var(--r1) var(--r2) at bottom,#000000 79.5%,#0000 80%) center center,
       radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#000000 80%) center right,
       rgba(255, 255, 255, 0);
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat: no-repeat;
  animation: progress-mbj53w 2.8s infinite linear;
}

@keyframes progress-mbj53w {
  33% {
     background-position: 0% 33% ,100% 33% ,200% 33%;
  }

  66% {
     background-position: -100%  66%,0%   66% ,100% 66%;
  }

  100% {
     background-position: 0% 100%,100% 100%,200% 100%;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  /* background: #232427; */
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 330px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

body .container .card:nth-child(3) .box .content a {
  background: #23c186;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
